<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button *ngIf="authService.isLoggedIn"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign in User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" (keyup.enter)="logIn(email, password)" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="router.navigate(['registration'])" expand="block" color="secondary">Go to registration page</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
